# The .env.example file is a template for the actual .env file that contains environment variables for the project. 
# so before you start working on the project, you should create a .env file in the root directory of the project and fill in the values for the database connection.
DB_HOST=
DB_USER=
DB_PASSWORD=
DATABASE_NAME=
